
%h1= @notice.title
%p= @notice.body

-if user_signed_in?
  -if current_user.id == @notice.user_id
    .action-notice
      = link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' }
      = link_to 'Edit', edit_notice_path(@notice)

%hr
-if user_signed_in?
  %h5 Deje su comentario:
  = render 'comments/form'
-else
  .alert.alert-info
    Registrate para comentar esta noticia.
%hr
#comments.mt-2
  %p #{@notice.comments.count} Comentarios
  =render @notice.comments

= link_to 'Todas las noticias', notices_path, class: 'btn btn-secondary'
