%p#notice= notice
%p
  %strong Title:
  = @notice.title
%p
  %strong Body:
  = @notice.body
= link_to 'Edit', edit_notice_path(@notice)

= render 'comments/form'
= render @notice.comments

= link_to 'Back', notices_path
